<div class="container">
    <table *ngIf="(transactions$ | async) as transactions" mat-table [dataSource]="transactions" class="mat-elevation-z8">

        <!-- Define your table columns -->
        <ng-container matColumnDef="userID">
          <th mat-header-cell *matHeaderCellDef> User ID </th>
          <td mat-cell *matCellDef="let transaction"> {{ transaction.userID }} </td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.userName }} </td>
          </ng-container>

          <ng-container matColumnDef="rentalID">
            <th mat-header-cell *matHeaderCellDef> RentalID </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.rentalID }} </td>
          </ng-container>

          <ng-container matColumnDef="numOfDays">
            <th mat-header-cell *matHeaderCellDef> Number of Days </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.numOfDays }} </td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> Rate </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.rate }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let transaction"> {{ transaction.status }} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let transaction; columns: displayedColumns"></tr>
      </table>
</div>