.spacer {
    flex: 1 1 auto;
}
.login{
    text-decoration: none;
}
.ren{
    font-weight: 500;
    font-size: 20pt;
    color: rgba(239, 108, 0, 1)
}
.van{
    font-weight: 500;
    font-size: 20pt;
    color: black;
}
.mat-toolbar {
    background-color: rgba(255, 255, 255, 0);
  }
  .login {
    color: rgba(239, 108, 0, 1);
    width: 150px;
    height: 40px;
  }
  
  