<div class="start-container">
    <app-nav></app-nav>
    <div class="wrapper">
        <div class="signup-form" [formGroup]="form">
            <h1>Looking for a<br>car to rent?</h1>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Full Name" formControlName="name" required>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Email Address" formControlName="email" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" formControlName="password" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Contact Number" formControlName="contactNum" required>
                </div>
            </form>
            <a mat-raised-button color="primary" style="color: white;" class="signup" (click)="signup()">Signup</a>
        </div>
        <div class="img-wrapper">
            <img src="assets/img/range-rover-removebg-preview.png" alt="Car Image">
        </div>
    </div>
</div>