.start-container{
height: 100vh;
background: linear-gradient(
    to right,
    white 0%,
    white 60%,
    rgba(239, 108, 0, 1) 60%,
    rgba(239, 108, 0, 1) 100%
);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;
    width: 50%;
    left: 200px;
    top: 15px;
    border-radius: 20px;
    padding-bottom: 10px;
}
.wrapper .signup-form{
    width: 100%;
    height: 100%;
    padding: 40px;
}
h1{
    font-size: 35pt;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: 1px solid rgba(148, 146, 146, 0.5);
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
.signup {
    display: block; 
    margin: 0 auto;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
form{
    margin-bottom: 50px;
}
.img-wrapper {
    width: 100%; /* Adjust as needed */
    padding: 20px;
    transform: translateY(40%) translateX(40%);

}

.img-wrapper img {
    width: 150%;
    height: auto;
}


