<div class="login-container">
    <div class="wrapper">
        <div class="login-form">
            <h1>Login</h1>
            <form action="#">
                <div class="input-box">
                    <mat-icon class="icon"><span class="material-symbols-outlined">mail</span></mat-icon>
                    <input type="email" placeholder="Email Address" required>
                </div>
                <div class="input-box">
                    <mat-icon class="icon"><span class="material-symbols-outlined">lock</span></mat-icon>
                    <input type="password" placeholder="Password" required>
                </div>
            </form>
            <a mat-raised-button color="primary" style="color: white;" class="login" routerLink="/user">Login</a>
        </div>
    </div>
</div>