<div class="sidebar">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sidebarStatus}">
      <li class="nav-list-item">
        <i><mat-icon>home</mat-icon></i>
        <span>
          <!-- Use routerLink for navigation -->
          <a routerLink="/user/home">Home</a>
        </span>
      </li>
      <li class="nav-list-item">
        <i><mat-icon>directions_car</mat-icon></i>
        <span>
          <!-- Use routerLink for navigation -->
          <a routerLink="/user/booking">Booking</a>
        </span>
      </li>
    </ul>
  </div>
  
  