@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-theme-primary: mat-palette($mat-orange, 800);
$my-theme-accent: mat-palette($mat-orange, A400);
$my-theme-warn: mat-palette($mat-orange, A200);

$my-theme: mat-light-theme($my-theme-primary,$my-theme-accent,$my-theme-warn);
@include angular-material-theme($my-theme);
